* {
    -webkit-user-select: none;
}

body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:19px;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    border: 0;
    position: absolute;
    
    
}
header{
    position: absolute;
    z-index:2;
    top:0;
    left:0;
    width: 100%;
    background: #029BFA;
    border-bottom: 1px solid white;
    padding: 0;
    color: white;
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    height: 45px;
}
.body{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.body .content{
    margin-top: 50px;
    padding-left: 20px;
    padding-top: 5px;
}
.ulMenu{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}
.ulMenu li{
    background-color: #0295FA ;
    height: 45px;
    border-bottom: 1px solid white;
    color: #eee;
    padding: 10px;

}
#menu{
    background-color: white;
    position: absolute;
    width: 80%;
    height: 100%;
    z-index: 1;
}
header .btn{
    position: absolute;
}
. transition{
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
}
.center {
  transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.right {  
  transform: translate3d(70%, 0, 0);
  position: fixed;
}
.visible{
    display: block;
}
.hide{
    display: none;
}
h1 {
    font-size:28px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    color:  black;
}
h2 {
    font-size:20px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    color:  #0078FF;
}
h3 {
    font-size:16px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    color: black;
}


img{
display:block;
margin:auto;
width: 150px; height: 120px;
}